*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,ol,p{
    margin: 0px ;
    padding: 0px;
    
}
ul,ol{
    list-style: none;
}

/* nav bar starts*/

nav{
    background-color: rgb(101, 96, 96);
    padding: 10px 0px;
}

nav .sidebarBtn{
    width: 40px;
    height: 40px;
    background-color: #d6f9c3;
    border: none;
}

.sidebar{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

}
.sidebarCnt{
    width: 80%;
    background-color:#fff;
    height: 100vh;
    overflow-y: auto;
    max-width: 350px;
    padding: 30px 20px;
    transform: translateX(-100%);
    position: relative;
    transition: 0.5s ease;
}
.sidebarLogo{
    width: 200px;
    text-align: center;
    margin: auto;
    
}
.sidebarLogo img{
    width: 100%;
}

.sidebarCnt ul{
    text-align: center;
    margin-top: 20px;
}

.sidebarCnt ul a{
    color: rgb(241, 16, 4);
    margin-bottom: 10px;
    display: block;

}


.sidebarCnt .cancel{
    position: absolute;
    top: 20px;
    right: 10px;
    color: rgb(253, 4, 4);

    
}

.sidebar.active{
    opacity: 1;
    visibility: visible;

}

.sidebar.active .sidebarCnt{
    transform: translateX(0);
}

